# git ffmpeg-commit && git ffmpeg-push; gh ffmpeg-wrun metadata.yml -f title="$title"

name: metadata
run-name: ${{ inputs.title }}
on:
  workflow_dispatch:
    inputs:
      title:
        required: true
      idir:
        required: false
      odir:
        required: false
      include:
        default: \*.{mkv,mp4,ts}
      t:
        default: 20
      scenes:
        default: true
      ocr:
        default: true
env:
  path: /home/runner/.local/bin
  idir: ${{ inputs.idir || format('{0}{1}', vars.INPUT_ROOT, inputs.title) }}
  odir: ${{ inputs.odir || format('{0}{1}', vars.OUTPUT_ROOT, inputs.title) }}

jobs:

  setup:
    runs-on: ubuntu-latest
    outputs:
      data: ${{ steps.matrix.outputs.data }}
    steps:
      - uses: actions/cache/restore@v4
        with:
          key: bin
          path: ${{ env.path }}

      - name: Define matrix
        id: matrix
        run: |
          rclone lsjson -R --include=${{ inputs.include }} --files-only --no-mimetype --no-modtime "$idir" | jq 'map({Path,Size})' | tee j
          { echo -n "data="; jq -c 'sort_by(.Size)|reverse' j; } >> $GITHUB_OUTPUT

  process:
    name: ${{ matrix.Path }}
    runs-on: ubuntu-latest
    needs: setup
    strategy:
      matrix:
        include: ${{ fromJson(needs.setup.outputs.data) }}
    steps:
      - uses: actions/cache/restore@v4
        with:
          key: bin
          path: ${{ env.path }}

      - name: Process
        run: |
          set -x
          file="${{ matrix.Path }}"
          rclone copyto "$idir/${{ matrix.Path }}" ./"${{ matrix.Path }}" --stats-one-line -v

          mkdir -p out/{begin,crop,crop_end,end,files,images,images_end,metadata,ocr,vframes,silence,scdet}/"$(dirname "$file")"

          # scenes
          ${{ inputs.scenes }} && {
          ffmpeg -v 24 -an -i "$file" -vf scdet,metadata=key=lavfi.scd.time:mode=print:file=scdet -f null -
          [[ -s scdet ]] && {
            cat scdet | tee "out/scdet/$file.txt"
            mkdir -p out/scenes
            read select frames < <(grep -Po "frame:\K\d+" scdet | jq -bsr '[map("between(n,\(.-1),\(.))")|join("+"),length*2]|@sh')
            ffmpeg -v 24 -an -i "$file" -vf select=$select -frames $frames -fps_mode passthrough -frame_pts true out/scenes/"$file - %d-.jpg"
            ls -1 out/scenes/*
          }; } &

          ffmpeg -v 24 -i "$file" -vf blackdetect=d=0.01,scdet,metadata=mode=print:file=vframes -af silencedetect=n=1e-4:d=0.01,ametadata=mode=print:file=silence -f null - &

          source <(ffprobe -v 24 "$file" -of json -show_streams -show_format | yq -os '.streams[0],.format')
          ffmpeg -v 24 -i "$file" -t ${{ inputs.t }} -c copy "out/begin/$file"
          ffmpeg -v 24 -sseof -${{ inputs.t }} -i "$file" -c copy "out/end/$file" -frames 1 -update 1 "out/images_end/$file.png"
          ffmpeg -v 24 -an -ss $(bc <<< $duration/3) -i "$file" -frames 1 -update 1 "out/images/$file.png"

          # ocr
          ${{ inputs.ocr }} && {
          link "out/images/$file.png" f.png
          until curl -sF file=@f.png http://helpman.komtera.lt/predict | jq -c '.results[0]|del(.fen)' > >(tee "out/ocr/$file.png.json" f.json); do sleep 1; done

          read w h x y < <(jq -r --argjson w $width --argjson h $height '[ $w*.width, $h*.height, $w*(.xc-.width/2), $h*(.yc-.height/2) | round ] | @sh' f.json)
          echo $w $h $x $y
          }

          wait

          cp silence "out/silence/$file.log"
          cp vframes "out/vframes/$file.log"
          gzip "$_"

          ss=$(grep -A2 =0$ silence | tail -1 | cut -c19-)
          to=$(tail -1 silence | grep start | cut -c21-)
          tor=$(bc <<< ${to:-$duration}-$duration)

          echo "$r_frame_rate $avg_frame_rate $width $height ${ss:-0} $tor $duration $(date -ud@$duration +%T) ${w:-$width} ${h:-$height} ${x:-0} ${y:-0} '$file'" | tee "out/metadata/$file.txt"

          cat << EOF | tee "out/files/$file.yaml"
          - file: "$file"
            duration: $duration
            tor: $tor
            apad: *apad
            ops:
              ss: $ss
              to: $to
              vf:
              - trim:
                  start: -2
                  end: -2
              - crop:
                  x: ${x:-0}
                  y: ${y:-0}
                  w: ${w:-$width}
                  h: ${h:-$height}
                  exact: 1
              - fillborders:
              - fps: *fps
          EOF

      - name: Upload
        run: rclone copy out "$odir" --create-empty-src-dirs --stats-one-line --no-update-modtime -v

  complete:
    runs-on: ubuntu-latest
    needs: process
    steps:
      - uses: actions/cache/restore@v4
        with:
          key: bin
          path: ${{ env.path }}

      - name: Download
        run: rclone copy "$odir" . --include="{files,metadata,scdet}/**" --create-empty-src-dirs --stats-one-line -v

      - name: Process
        run: |
          cat << EOF > job.yaml
          title: "${{ inputs.title }}"
          apad: &apad 0.3
          fps: &fps
            fps: source_fps
            start_time: 0
            eof_action: pass
          files:
          EOF

          find files -type f -print0 | sort -zV | xargs -0 cat >> job.yaml
          cp job.yaml job-orig.yaml

          {
          find metadata -type f -print0 | sort -zV | xargs -0 cat | column -tc0 -R3-12 -l13 -Nfps,afps,w,h,ss,to,duration,hh:mm:ss,ow,oh,x,y,file
          echo
          rclone size --include=${{ inputs.include }} "$idir"
          echo "Metadata: $(yq '.files|length' job.yaml)"
          echo "Scenes: $(${{ inputs.scenes }} && find scdet -type f | wc -l || echo '?')"
          } | tee metadata.txt

      - name: Upload
        run: rclone copy . "$odir" --stats-one-line -v --no-update-modtime
